<!DOCTYPE html>
<html>
<head>
	<title>Score the fight!</title>
</head>
<body>
  <h1>Fight</h1>
  <div id="scorecardcontainer">
   <form>
    
       <div id="columnleft">
	      <input type="radio" name="scorel" value="ten">10<br>
	      <input type="radio" name="scorel" value="nine">9<br>
	      <input type="radio" name="scorel" value="eight">8<br>
	    </div>
	    <div id="columnright">
	      <input type="radio" name="scorer" value="ten">10<br>
	      <input type="radio" name="scorer" value="nine">9<br>
	      <input type="radio" name="scorer" value="eight">8<br>
	      <input type="submit" value="Submit">
	     </div>
     
   </form>
  </div>

</body>
</html>
