<!DOCTYPE html>
<html>
<head>
	<title>Events to Score</title>
	<link href='http://fonts.googleapis.com/css?family=Julee' rel='stylesheet' type='text/css'>
</head>
<body>
  <h1>Events to score</h1>
  <div id="evecont">
  <center>UFC 176</center>
  <br>
  <br>
  <center><%= link_to "Georges St-Pierre vs. Anderson Silva", main_pages_score_path, id: "links"%></center>
  <div>
</body>