<head>
	<title>Score the fight!</title>
	<link href='http://fonts.googleapis.com/css?family=Julee' rel='stylesheet' type='text/css'>
</head>

<h1>Score the fight</h1>

<%= render 'form' %>

<%= link_to 'Back', scores_path, id: "back" %>

