// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
	padding: 0px;
	margin: 0px;
}
#user_nav{
	color: white;
	display: inline-block;
	background-color: black;
	padding: 10px;
	opacity: 0.8;
	border-radius: 10px;
}

h1{
	text-align: center;
	color: white;
	font-size: 60px;
	margin-bottom: 60px;
	margin-top: 40px;
	font-family: 'Julee', cursive;
}

#evecont{
	position: fixed;
	top: 150px;
	left: 32%;
	width: 400px;
	height: 400px;
	border: 1px black solid;
	background-color: black;
	color: white;
	padding: 20px;
	border-radius: 10px;
	opacity: 0.93;
	-webkit-transition: 1s; /* Safari */
    transition: 1s;
    font-size: 30px;
    font-style: bold;
    /*opacity: 0;*/
}

#links{
	font-size: 15px;
	margin: 0 auto;
	color: white;
	display: inline-block;
	background-color: #8B0000;
	padding: 9px;
	border-radius: 30px;
	text-decoration: none;
}
#links:hover{
	color: black;
}

#myscores{
	position: fixed;
	top: 150px;
	left: 0%;
	width: 300px;
	height: 400px;
	border: 1px black solid;
	background-color: black;
	color: white;
	padding: 20px;
	border-radius: 10px;
	opacity: 0.93;
	-webkit-transition: 1s; /* Safari */
    transition: 1s;
    font-size: 20px;
    font-style: bold;

	
}

.score{
	background-color: #8B0000;
	padding: 9px;
	border-radius: 30px;
}

.tab{
	color: white;
}

th{
	font-size: 15px;
	border: solid white 1px;
	padding: 2px;	
}
td{
	text-align: center;
}

#friendscores{
	position: fixed;
	top: 150px;
	right: 0%;
	width: 300px;
	height: 400px;
	border: 1px black solid;
	background-color: black;
	color: white;
	padding: 20px;
	border-radius: 10px;
	opacity: 0.93;
	-webkit-transition: 1s; /* Safari */
    transition: 1s;
    font-size: 20px;
    font-style: bold;	
}

span{
	font-size: 12px;
}